<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RC UI</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="./main.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb">
                <li>
                    <a href="#">主页</a> <span class="divider"></span>
                        <div class="line-div"></div>
                </li>
                <li>
                    <a href="#">类目</a> <span class="divider"></span>
                    <div class="line-div"></div>
                </li>
                <li class="active">
                    主题
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <ul>
                <li>
                    <div class="litem">新闻资讯</div>
                </li>
                <li>
                    体育竞技
                </li>
                <li>
                    娱乐八卦
                </li>
                <li>
                    前沿科技
                </li>
                <li>
                    环球财经
                </li>
                <li>
                    天气预报
                </li>
                <li>
                    房产家居
                </li>
                <li>
                    网络游戏
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul>
                <li>
                    新闻资讯
                </li>
                <li>
                    体育竞技
                </li>
                <li>
                    娱乐八卦
                </li>
                <li>
                    前沿科技
                </li>
                <li>
                    环球财经
                </li>
                <li>
                    天气预报
                </li>
                <li>
                    房产家居
                </li>
                <li>
                    网络游戏
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul>
                <li>
                    新闻资讯
                </li>
                <li>
                    体育竞技
                </li>
                <li>
                    娱乐八卦
                </li>
                <li>
                    前沿科技
                </li>
                <li>
                    环球财经
                </li>
                <li>
                    天气预报
                </li>
                <li>
                    房产家居
                </li>
                <li>
                    网络游戏
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="./action.js"></script>
</body>

</html>