# logs
robot_ctl/logs/
monitor/logs/

# upload
robot_ctl/upload/
monitor/upload/

.idea/
venv/
flask-robot-ctl.iml
flask-robot-ctl.ipr
flask-robot-ctl.iws

backup/__init__.pyc
backup/monitor_admin.pyc
backup/monitor_api.pyc
backup/monitor_db.pyc
backup/monitor_logger.pyc
backup/monitor_main.pyc
backup/monitor_resource.pyc
backup/monitor_user.pyc
backup/monitor_util.pyc
robot_ctl/__pycache__/
robot_ctl/logger.pyc
