<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 模态框（Modal）插件</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

<body>

    <h2>创建模态框（Modal）</h2>
    <!-- 按钮触发模态框 -->
    <button class="btn btn-primary btn-lg" id='modalSwitch'>
        开始演示模态框
    </button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">点击关闭按钮检查事件功能。</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">提交更改</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <script>
        $(document).ready(function () {
            $(function () {
                $('#myModal').on('hide.bs.modal',
                    function () {
                        console.log('modal hided');
                    });
            });

            $(document).on('click', '#myModal button.btn-primary', function (e) {
                $('#myModal').modal('hide');
                var hidpgid = $('#myModal').attr('hidePageid');
                var text = $('#myModal button.btn-primary').text();
                var body = $('#myModal').find('div.modal-body');
                var input = body.find('input#qqno').val();
                console.log('submit ' + hidpgid + ":" + text + ":" + input);
            });

            $(document).on('click', 'button#modalSwitch', function (e) {
                var body = $('#myModal').find('div.modal-body');
                body.find('input#qqno').remove();
                var qqnoinput = $('<input id="qqno">');
                body.append(qqnoinput);
                console.log(body.html());
                $('#myModal').attr('hidePageid', 'test1');
                $('#myModal').modal({
                    keyboard: true
                });
            });
        });
    </script>
</body>

</html>